.App {
  text-align: center;
}

.card {
  margin: 10px;
  width: 200px;
  border: 1px solid;
  padding: 10px;
}

.btn {
  padding: 5px 15px;
  background-color: #3838d9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-img-top {
  width: 100%;
}
